.questions {
	position: relative;
}

.votes {
	position: relative;
}

.dashboardChart {

}

.pieChart {
		
}

.barChart {
	display:none;
}

.columnChart {
	display:none;
}

.options {
	height: 30px;
	
	position: absolute;
	top: 0px;
	right: 0px;
	
	padding: 4px;
	background: #DDDDDD;
	
	border-radius: 3px;
	
	z-index: 100;
}

.options a {
	cursor: pointer;
}

.options img {
	height: 100%;
}