.questions {
	position: relative;
}

.votes {
	position: relative;
}

.dashboardChart {
	padding: 10px;
	margin: 10px;
	margin-top: 0px;
	width: 350px;
	height: 250px;
	
	display: inline-block;
	
	background-color: #FFFFFF;
	
	border-radius: 10px;
}

.pieChart {
		
}

.barChart {
	display:none;
}

.columnChart {
	display:none;
}

.options {
	height: 30px;
	
	position: absolute;
	top: 0px;
	right: 0px;
	
	padding: 4px;
	background: #DDDDDD;
	
	border-radius: 3px;
	
	z-index: 100;
}

.options a {
	cursor: pointer;
}

.options img {
	height: 100%;
}