.sideMenu {
    border: 1px solid #619FDB;
    border-radius: 10px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 200px;
    height: 100%;
    
    background: #619FDB;
}

.sideMenuLogo {
	width: 100px;
	
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.sideMenuLoading {
	background-color: #eeeeee;
	background-image: url('../img/loading.gif');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 90% 50%;
	
	
	position: absolute;
	width: 100%;
	height: 100%;
	
	opacity: 0.5;
	
	top: 0;
	left: 0;
}

.sideMenu ul {
	list-style-type: none;
    padding-top: 0px; 
    padding-left: 0px;
    padding-right: 0px;
    
    margin: 0px;
    
    cursor: pointer;
}

.sideMenu li {
	list-style-type: none;
    padding:0; 
    margin:0;
    
    position: relative;
}

.sideMenu li a {
	display: block;
    padding: 10px 15px;
    
    text-decoration: none;
    color: #FFFFFF;
}

.sideMenu li a:hover, .sideMenu li a.active {
    background: #195895;
    
    border: 0px solid #195895;
    
}

.sideMenu li ul {
    display: none; // used to hide sub-menus
}

.sideMenu li ul li a {
    padding: 10px 25px;
    background: #91B7DB;
    border-bottom: 1px dotted #2C4864;
}