/*
Paleta de colores:
Principal: #195895 (azul)
Secundario 1: #11AC3A (verde)
Secundario 2: #E62F17 (rojo)
Secundario 3: #E69117 (naranjo)

Principal var 1: #619FDB
Principal var 2: #91B7DB
Principal var 3: #2C4864
Principal var 4: #052B50

Esquema completo: http://colorschemedesigner.com/#3.40KsOsOFfFf

*/

*
{
	font-family: Helvetica, Arial, sans-serif;
}

body
{
	background-color: #eeeeee;
}

a 
{
	text-decoration: none;
	color: #404040;
	text-shadow: none;
}

a:HOVER {}
a:ACTIVE {}
a:VISITED {}

input {
	padding: 8px;
}

input[type=text], input[type=password] {
	border-radius: 3px;
	border: 1px solid #ccc;
}

.loading {
	display: block;
	width: 100px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.content {
	display: table;
	width: 100%;
}

.leftContent {
	vertical-align: top;
    display: table-cell;
    width: 200px;
}

.rightContent {
	display: table-cell;
	vertical-align: top;
	padding-left: 20px;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}
.footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	color: #999999;
}