<div id="question-{{question.id}}-pie" class="dashboardChart pieChart">
	<div id="chart-{{question.id}}-pie"><img src="../img/loading.gif" class="loading" /></div>
</div>
<div id="question-{{question.id}}-bar" class="dashboardChart barChart">
	<div id="chart-{{question.id}}-bar"><img src="../img/loading.gif" class="loading" /></div>
</div>
<div id="question-{{question.id}}-column" class="dashboardChart columnChart">
	<div id="chart-{{question.id}}-column"><img src="../img/loading.gif" class="loading" /></div>
</div>